<div class="project-1 py-5">
    <div class="project__infos">
        <h2 class="project__title">Nicolas Botte</h2>
        <img src={{ asset('build/images/nicolas-botte.jpg') }} alt="nicolas botte" class="project__image"/>
        <a href="https://nicolas-botte.com/" target="__blank" class="btn btn-secondary rounded-pill project__link text-white"/>Visiter</a>
    </div>

    <div class="project__skills">
        <span class="d-flex align-items-center mb-2">
            <i class="fa-brands fa-symfony fs-3 me-3"></i>
            <p class="fs-5 m-0">Symfony 5 / Twig</p>
        </span>
        <span class="d-flex align-items-center mb-2">
            <i class="fa-brands fa-square-js fs-3 me-3"></i>
            <p class="fs-5 m-0">Javascript</p>
        </span>
        <span class="d-flex align-items-center mb-2">
            <i class="fa-brands fa-stripe fs-4 me-3"></i>
            <p class="fs-5 m-0">Stripe</p>
        </span>
        <span class="d-flex align-items-center mb-2">
            <i class="fa-brands fa-paypal fs-2 me-3"></i>
            <p class="fs-5 m-0">Paypal</p>
        </span>
        <span class="d-flex align-items-center mb-2">
            <i class="fa-brands fa-bootstrap fs-3 me-3"></i>
            <p class="fs-5 m-0">Bootstrap 5</p>
        </span>
    </div>
</div>
<div class="project-2 py-5">
    <div class="project__infos">
        <h2 class="project__title">Le café</h2>
        <img src={{ asset('build/images/le-cafe.jpg') }} alt="le cafe" class="project__image"/>
        <a href="https://le-cafe.adrien-le-pober.com/" target="__blank" class="btn btn-secondary rounded-pill project__link text-white"/>Visiter</a>
    </div>

    <div class="project__skills">
        <span class="d-flex align-items-center mb-2">
            <i class="fa-brands fa-react fs-3 me-3"></i>
            <p class="fs-5 m-0">React UX</p>
        </span>
        <span class="d-flex align-items-center mb-2">
            <i class="fa-brands fa-symfony fs-3 me-3"></i>
            <p class="fs-5 m-0">Symfony 6 / Twig</p>
        </span>
        <span class="d-flex align-items-center mb-2">
            <i class="fa-brands fa-sass fs-4 me-3"></i>
            <p class="fs-5 m-0">Sass</p>
        </span>
        <span class="d-flex align-items-center mb-2">
            <i class="fa-brands fa-gitlab fs-3 me-3"></i>
            <p class="fs-5 m-0">GitLab CI</p>
        </span>
        <span class="d-flex align-items-center mb-2">
            <i class="fa-brands fa-bootstrap fs-3 me-3"></i>
            <p class="fs-5 m-0">Bootstrap 5</p>
        </span>
    </div>
</div>