
  <nav class="nav">
    <button class="toggle-menu" id="toggle-menu">
      <span></span>
    </button>
  </nav>

  <div id="menu">
    <nav class="main-nav">
      <ul class="d-xl-flex fs-1">
        <li class="nav-item">
          <a href="#presentation" class="nav-link">
            Présentation
          </a>
        </li>
        <li class="nav-item">
          <a href="#projets" class="nav-link">
            Projets
          </a>
        </li>
        
        <li class="nav-item">
          <a href="#contact" class="nav-link">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
